ScreenRecorderLegacy/include/** linguist-vendored
ScreenRecorderLegacy/lib/** linguist-vendored
ScreenRecorderLegacyMacOS/include/** linguist-vendored
ScreenRecorderLegacyMacOS/lib/** linguist-vendored
ScreenRecorderQT/include/** linguist-vendored
ScreenRecorderQT/lib/** linguist-vendored