[Desktop Entry]
Version=1.0
Name=Screen Recorder
Icon=/opt/ScreenRecorder/icon.png
Exec=/opt/ScreenRecorder/ScreenRecorder
Terminal=false
Type=Application

